<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/Frontend/pictures/EHB_site_logo-removebg-preview.png" rel="icon" />
  <title>&lt;EHBLoanHub&gt;</title>
  <link rel="stylesheet" href="/css/profiel-user.css" />

  <script>
// ZET DIT IN EEN APPARTE JS DING
let currentUrl = window.location.href;
let pattern = /profiel-user\/([^\/]+)/;
let match = currentUrl.match(pattern);

if (match) {
    let dynamicPart = match[1];
    let newValue = "";
    let newUrl = currentUrl.replace(dynamicPart, newValue);
    history.replaceState(null, '', newUrl);
}
  </script>
</head>
<body>
  <header>
    <div class="icons">
      <a href="/homescreen"><span class="icon">&#8617;</span></a>
    </div>
    <div class="site-naam">
      <a href="/homescreen" id="site-naam">&lt;EHBLoanHub&gt;</a>
    </div>
  </header>
  <main id="main">
    <div class="bezit-en-ophalen">
      <div class="in-bezit">
        <h2>Momenteel in bezit:</h2>
        <% let inBezitFound = false; %>
        <% reservations.forEach(r => { %>
          <% if (r.status === 2) { %>
          <% inBezitFound = true; %>
          <div class="product-in-bezit">
            <h4>Product: <%= r.product_name %></h4>
            <h4>Product-ID: <%= r.product_ID %></h4>
            <h4>Inleverdatum: <%= r.formatted_eind_datum %></h4>
            <div>
            </div>
          </div>
        <% } %>
        <% }); %>
        <% if (!inBezitFound) { %>
          <p>Geen producten momenteel in bezit.</p>
        <% } %>
      </div>
      <hr>
      <div class="op-te-halen">
        <h2>Op te halen:</h2>
        <% let opTeHalenFound = false; %>
        <% reservations.forEach(r => { %>
          <% if (r.status === 1) { %>
          <% opTeHalenFound = true; %>
          <div class="product-in-bezit">
            <h4>Product: <%= r.product_name %></h4>
            <h4>Product-ID: <%= r.product_ID %></h4>
            <h4>OphaalDatum: <%= r.formatted_begin_datum %></h4>
            <div>
              <button id="annulatie-reservatie" class="annuleer-knop" data-reservation-id="<%= r.reservatie_ID %>" data-product-id="<%= r.product_ID %>">x</button>           
            </div>
          </div>
        <% } %>
        <% }); %>
        <% if (!opTeHalenFound) { %>
          <p>Geen reservaties op te halen.</p>
        <% } %>
      </div>
    </div>
  </main>
  <footer>
    <div id="school">© 2024 Erasmushogeschool Brussel</div>
    <div id="taal">Nederlands</div>
  </footer>

  <div id="probleemModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal('probleemModal')">&times;</span>
      <div class="volledig-probleem-form">
        <div>
          <h1>Is het product beschadigd?</h1>
        </div>
        <form id="probleemForm">
          <div class="radio-container">
            <label for="schade1"><h2>JA</h2></label>
            <input type="radio" name="schade" id="schade1">
            <label for="schade2"><h2>NEE</h2></label>
            <input type="radio" name="schade" id="schade2">
            <br>
          </div>
          <div class="beschrijving">
            <h2>Beschrijving probleem:</h2>
            <textarea class="textarea-probleem" type="text" name="beschrijving" rows="8" cols="40"></textarea>
            <br>
            <button class="knop-probleem-versturen" type="submit">Verstuur</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <script src="/js/profiel-user.js" defer></script>
  <script src="/js/fetchuser-info.js" defer></script>
  <script src ="/js/user/verwijderbestelling.js"></script>
</body>
</html>
