<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/pictures/other/EHB LOGO.png" />
  <title>&lt;EHBLoanHub&gt;</title>
  <link rel="stylesheet" href="/css/reservatie-van-producten.css" />
</head>
<body>
  <header>
    <div></div>
    <div class="site-naam">
      <a href="/homescreen" id="site-naam">&lt;EHBLoanHub&gt;</a>
    </div>
    <div></div>
  </header>
  <main id="main">
    <div class="container">
      <div class="foto-en-knop-reservatie">
        <div id="product_ID"></div>
        <% if (product.afbeelding) { %>
          <% const imageUrl = `data:image/png;base64,${product.afbeelding.toString('base64')}`; %>
          <img src="<%= imageUrl %>" alt="Product Image" />
        <% } else { %>
          <p>No image available</p>
        <% } %>
        <h1 id="product_ID"><%= product.product_ID %></h1>
        <br>
        <a href="#" id="reserveren">Reserveren</a>
      </div>
      <div class="tijd-en-beschikbaarheid">
        <h2><%= product.MERK %>: <%= product.naam %></h2>
        <div class="datum-forms-uitlening">
          <form id="reservatie-form">
            <label for="van-tijd">Van:</label>
            <input id="van-tijd" type="date" required>
            <label for="tot-tijd">Tot:</label>
            <input id="tot-tijd" type="date" required disabled>
            <!-- <button type="submit">Reserveren</button> -->
          </form>
        </div>
        <div class="melding-uitleentermijn">
          <p>Uitleentermijn voor <span>studenten</span>: <span class="uitleentermijn">1 week</span></p>
        </div>
        <br>
        <p>Nog <span class="aantal-beschikbaar"></span> beschikbaar</p>
      </div>
    </div>
    <br>
    <hr>
    <div id="pop-up-gebruikersvoorwaarden"></div>
    <h1>Beschrijving:</h1>
    <div class="beschrijving">
      <p><%= product.Beschrijving %></p>
      <hr>
      <h1>Extra's:</h1>
      <div class="alle-extra-producten">
        <div class="extra-product">
          <div>
            <img src="/Frontend/pictures/Afbeelding-microfoon.jpg" alt="Afbeelding 1"/>
            <p>Beschikbaar: <span class="extra-aantal-beschikbaar">3/4</span></p>
          </div>
          <div>
            <h4>Titel</h4>
            <form class="checkbox-extra"><input type="checkbox"></form>
          </div>
        </div>
      </div>
    </div>
    <br>
  </main>
  <footer>
    <div id="school">© 2024 Erasmushogeschool Brussel</div>
    <div id="taal">Nederlands</div>
  </footer>
  <script src="/js/reservatie-van-producten.js"></script>
  <script src="/js/login/auth.js"></script>
  <script src="/js/login/auth.js/"></script>
  <script src="/js/user/kalender.js"></script>
</body>
</html>
