<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/pictures/logo_login.png"/>
    <link rel="stylesheet" href="css/homescreen.css">
    <title>&lt;EHBLoanHub&gt;</title>
</head>

<body>
    <header>
        <div class="zoekbalk">
            <input id="zoekbalk" type="text" placeholder="Zoeken...">
        </div>
        <div class="site-naam">
            <a href="/homescreen" id="site-naam">&lt;EHBLoanHub&gt;</a>
        </div>
        <div class="profiel">
            <a href="#"><img id="profiel" src="/pictures/winkelkar.png" alt="winkelkar"></a>
            <a href="/Frontend/User-interface/profiel/profiel-user.html">
                <img id="profiel" src="/pictures/circle-profile.png" alt="profiel"></a>
        </div>
    </header>
    <main>
        <div class="banner">
            <img src="/pictures/home banner.jpg" alt="banner" style="width: 700px;">
        </div>

        <hr id="breakline">
<!--  
    <div class="quote">
             <h1>Erasmushogeschool Brussel - Uitleendienst</h1> 
            <p>Van inspiratie tot realisatie: <br>
                Ontdek onze uitleendienst bij Erasmushogeschool Brussel!</p>
        </div> -->

        <div class="audio">

            <nav class="prodnav">

            <ul class="producten-categorien">
                <li><a href="/audio-catalogus">Audio</a></li>
                <li><a href="/belichting-catalogus">Belichting</a></li>
                <li><a href="/video-catalogus">Video</a></li>
                <li><a href="/varia-catalogus">Varia</a></li>
                <li><a href="/XR-catalogus">XR</a></li>
              </ul>

            </nav>
           
            <hr id="breakline">
            
            <div class="audio">

            <a id="audio" class="producten">Audio</a>
            <div class="producten-container">
                <button class="arrow arrow-left" onclick="moveLeft('audioSlider')">&#10094</button>
                <div id="audioSlider" class="slider">
                    <% audioSlider.forEach(product=> { %>
                        <div class="product-box">
                          <% if (product.afbeelding) { %>
                            <% const imageUrl=`data:image/png;base64,${product.afbeelding.toString('base64')}`; %>
                              <img src="<%= imageUrl %>" alt="Product Image" />
                              <% } else { %>
                                <p>No image available</p>
                                <% } %>
                                  <div class="naam-en-besch">
                                    <h2>
                                      <%= product.MERK %>: <%= product.naam %>
                                    </h2>
                                    <p>
                                      <%= product.Beschrijving %>
                                    </p>
                                    <a class="button" href="#">reserveren</a>
                                  </div>
                        </div>
                        <% }); %>
                </div>
                <button class="arrow arrow-right" onclick="moveRight('audioSlider')">&#10095;</button>
            </div>
        </div>
    </div>

        <hr id="breakprod">

        <div class="belichting">

            <a id="Belichting" class="producten">Belichting</a>


            <div class="producten-container">
                <button class="arrow arrow-left" onclick="moveLeft('belichtingSlider')">&#10094;</button>
                <div id="belichtingSlider" class="slider">
                    <% belichtingSlider.forEach(product=> { %>
                        <div class="product-box">
                          <% if (product.afbeelding) { %>
                            <% const imageUrl=`data:image/png;base64,${product.afbeelding.toString('base64')}`; %>
                              <img src="<%= imageUrl %>" alt="Product Image" />
                              <% } else { %>
                                <p>No image available</p>
                                <% } %>
                                  <div class="naam-en-besch">
                                    <h2>
                                      <%= product.MERK %>: <%= product.naam %>
                                    </h2>
                                    <p>
                                      <%= product.Beschrijving %>
                                    </p>
                                    <a class="button" href="#">reserveren</a>
                                  </div>
                        </div>
                        <% }); %>
                </div>
                <button class="arrow arrow-right" onclick="moveRight('belichtingSlider')">&#10095;</button>
                </div>
            </div>
        </div>

        <hr id="breakprod">

        <div class="varia">

            <a id="Varia" class="producten">Varia</a>

            <div class="producten-container">
                <button class="arrow arrow-left" onclick="moveLeft('variaSlider')">&#10094</button>
                <div id="variaSlider" class="slider">
                    <% variaSlider.forEach(product=> { %>
                        <div class="product-box">
                          <% if (product.afbeelding) { %>
                            <% const imageUrl=`data:image/png;base64,${product.afbeelding.toString('base64')}`; %>
                              <img src="<%= imageUrl %>" alt="Product Image" />
                              <% } else { %>
                                <p>No image available</p>
                                <% } %>
                                  <div class="naam-en-besch">
                                    <h2>
                                      <%= product.MERK %>: <%= product.naam %>
                                    </h2>
                                    <p>
                                      <%= product.Beschrijving %>
                                    </p>
                                    <a class="button" href="#">reserveren</a>
                                  </div>
                        </div>
                        <% }); %>
                </div>
                <button class="arrow arrow-right" onclick="moveRight('variaSlider')">&#10095;</button>
            </div>
        </div>

        <hr id="breakprod">

        <div class="video">

            <a id="Video" class="producten">Video</a>

            <div class="producten-container">
                <button class="arrow arrow-left" onclick="moveLeft('videoSlider')">&#10094</button>
                <div id="videoSlider" class="slider">
                    <% videoSlider.forEach(product=> { %>
                        <div class="product-box">
                          <% if (product.afbeelding) { %>
                            <% const imageUrl=`data:image/png;base64,${product.afbeelding.toString('base64')}`; %>
                              <img src="<%= imageUrl %>" alt="Product Image" />
                              <% } else { %>
                                <p>No image available</p>
                                <% } %>
                                  <div class="naam-en-besch">
                                    <h2>
                                      <%= product.MERK %>: <%= product.naam %>
                                    </h2>
                                    <p>
                                      <%= product.Beschrijving %>
                                    </p>
                                    <a class="button" href="#">reserveren</a>
                                  </div>
                        </div>
                        <% }); %>
                </div>
                <button class="arrow arrow-right" onclick="moveRight('videoSlider')">&#10095;</button>
            </div>
        </div>

        <hr id="breakprod">

        <div class="xr">

            <a id="Xr" class="producten">Xr</a>

            <div class="producten-container">
                <button class="arrow arrow-left" onclick="moveLeft('xrSlider')">&#10094</button>
                <div id="xrSlider" class="slider">
                    <% xrSlider.forEach(product=> { %>
                        <div class="product-box">
                          <% if (product.afbeelding) { %>
                            <% const imageUrl=`data:image/png;base64,${product.afbeelding.toString('base64')}`; %>
                              <img src="<%= imageUrl %>" alt="Product Image" />
                              <% } else { %>
                                <p>No image available</p>
                                <% } %>
                                  <div class="naam-en-besch">
                                    <h2>
                                      <%= product.MERK %>: <%= product.naam %>
                                    </h2>
                                    <p>
                                      <%= product.Beschrijving %>
                                    </p>
                                    <a class="button" href="#">reserveren</a>
                                  </div>
                        </div>
                        <% }); %>
                </div>
                <button class="arrow arrow-right" onclick="moveRight('xrSlider')">&#10095;</button>
            </div>
        </div>

        <div class="verlengen-container">
            <div>
                <h1 id="verleng">Reservatie verlengen</h1>
            </div>
            <div class="info-container">
                <div class="informatie">
                    <h1>Wil je jouw reservatie verlengen?</h1>
                    <p>Heb je al materiaal in jouw bezit dat je wil verlengen? <br>
                        Met onderstaande knop kan je makkelijk een verzoek sturen naar de beheerder om jouw
                        reservatie
                        te verlengen. <br>
                        Pas op, er is geen garantie dat dit verzoek wordt nageleefd!</p>
                    <button id="verlengen-button"><a id="verlengen-button"
                            href="/Verlenging">Verlengen</a></button>
                </div>
                <div class="plusEen">
                    <h1>+1</h1>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div id="school">© 2024 Erasmushogeschool Brussel</div>
        <div id="taal">Nederlands</div>
    </footer>

    <script src="js/user/HomeScreen.js"></script>
</body>

</html>